@font-face {
  font-family: "treefont"; /* Project id 2201426 */
  src: url('iconfont.woff2?t=1659588949249') format('woff2'),
       url('iconfont.woff?t=1659588949249') format('woff'),
       url('iconfont.ttf?t=1659588949249') format('truetype');
}

.treefont {
  font-family: "treefont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e6c0";
}

.icon-code:before {
  content: "\e60e";
}

.icon-question:before {
  content: "\e628";
}

.icon-fullscreen:before {
  content: "\e603";
}

.icon-unfullscreen:before {
  content: "\e604";
}

.icon-collapse:before {
  content: "\e601";
}

.icon-expand:before {
  content: "\e602";
}

